<%# This was purely to see information on a larger view. %>
<h1>Status</h1>
<%= CredlyApi.get_badges.status%>
<h1>Headers</h1>
<%= CredlyApi.get_badges.headers%>
<h1>Response</h1>
<%= CredlyApi.get_badges.body%>


